#ignore compiled python files
+__pycache__/
*.pyc 

#ignore log files
+logs/
*.log

#ignore environment variable files
.env

#files only necessary for local dev
count_lines_of_code.sh
dump.html
run_scrapers.*